*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files 
*.jar
*.war
*.ear

# Gradle build files/artifacts
.gradle/*/taskArtifacts/
*/build/
build/

# Intellij
.idea/
*.ipr
*.iws
*.iml
out/

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.recommenders/
.project

# Extensions
.externalToolBuilders/
*.launch
.cproject
.classpath
.buildpath
.target

# virtual machine crash logs
hs_err_pid*
